@model IEnumerable<L3_DAVH_AFPE.Models.PharmacyModel>
@using L3_DAVH_AFPE.Models.Data
@{
    ViewData["Title"] = "Index";
}

<h1>Cart</h1>

<p>
    <a asp-action="Search">Make an Order</a> -
    @Html.ActionLink("View Tree in Pre-Order", "ViewTreePEO") -
    @Html.ActionLink("View Tree in In-Order", "ViewTreeIO") -
    @Html.ActionLink("View Tree in Post-Order", "ViewTreePO") -
    <a class="btn btn-success" asp-action="Resuply">Ask for Resuply</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Drug Name
            </th>
            <th>
                Drug Description
            </th>
            <th>
                Quantity
            </th>
            <th>
                Price ($)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.ActionLink("Discard", "Delete", new { item.Id })
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th id="total" colspan="3">Total :</th>
            <td>
                @Singleton.Instance.totalre()
            </td>
        </tr>
    </tfoot>
</table>
@Html.ActionLink("Proceed to Checkout", "Create", new { }, new { @class = "btn btn-success"})
@if (TempData["testmsg"] != null)
{
    <script type="text/javascript">
       alert("@TempData["testmsg"]");
    </script>
}
